NODE_ENV=

PORT=

DATABASE_URL=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
BETTER_AUTH_SESSION_TOKEN_EXPIRES_IN=
BETTER_AUTH_SESSION_TOKEN_UPDATE_AGE=

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=
